/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to bottom, #000046, #1CB5E0);
    color: white;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-bottom: 2px solid transparent;
  }
  
  .nav-links li a:hover {
    border-bottom: 2px solid white;
  }
  .logo {
    font-family: 'AndikaNewBasicRegular';
   font-weight: 10em;
   font-style: normal;
  }
   */



   body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #7b67e8, #916aff);
    padding: 10px 20px;
    color: white;
    height: 10vh;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  .logo a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
  }
  .logo a:hover {
    color: inherit;
  }
  
  nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin: 0 15px;
    position: relative;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  
  nav ul li a:hover::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: white;
    position: absolute;
    bottom: -2px;
    left: 0;
  }
  
  