.login-container {
    display: flex;
    height: 87vh;
    /* background: linear-gradient(to bottom, #6a11cb, #2575fc); */
    background: rgb(145,143,171);
background: linear-gradient(0deg, rgba(145,143,171,1) 42%, rgba(138,133,188,1) 81%, rgba(51,106,188,0.9837184873949579) 100%, rgba(123,114,223,1) 100%);
    color: white;
    font-family: Arial, sans-serif;
  }
  
  .login-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    max-width: 400px;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
    position: relative;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .forgot-password {
    position: absolute;
    right: 0;
    top: 32px;
    font-size: 0.9rem;
    text-decoration: underline;
    color: #ffd700;
  }
  
  .checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .checkbox-group input {
    margin-right: 10px;
  }
  
  .login-button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #218838;
  }
  
  .login-form p {
    margin-top: 20px;
    font-size: 0.9rem;
  }
  
  .login-form a {
    color: #ffd700;
    text-decoration: underline;
  }
  
  .login-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .login-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  